*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    background-color: #0F1111;
}
.nav{
    height: 80px;
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logo{
    background-image: url("./Zonixa\ brand\ logo\ with\ orange\ swoosh\ \(1\).png");
    height:50px;
    width: 100%;
    background-size: cover;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* Box2  */
.add-first{
    color:#cccccc;
    font-size:0.70rem ;
    margin-left: 20px;
}
.add-second{
     color:white;
     font-size: 1rem;
     margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
    
}


/* Box 3 */
.nav-search{
    display: flex;
    height: 50px;
    width: 630px;
    border-radius: 4px;
    justify-content: space-evenly;
    background-color: #FEBD69;
    border: none;
}
.nav-search:hover{
    border: 3px solid rgba(255, 166, 0, 0.486);
}
.nav-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border: none;
    align-items: center;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
    width: 100%;

}

.search-icon{
    width: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    border-radius: 4px;
}

.lan-logo{
    background-image: url("./image\ copy.png");
   display: flex;
   height: 40px;
   width: 100%;
   align-items: center;
   justify-content: space-evenly;
}
.select-lan{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.nav-language{
    align-items: center;
    justify-content: center;
   position: static;
   font-size:14px;
   align-items: center;
   display: flex;
   line-height:15px;
   font-weight :700px;
   padding-bottom: 5px;
}
.select-lan{
    border: none;
    margin-left:0px ;
    align-items: center;
    justify-content: space-evenly;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}
/* box6 */

.nav-cart i{
      font-size: 35px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 25px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deels{
    font-size: 1rem;
    font-weight: 700;
    color: white;
  text-decoration: none;
}
.panel-deels:hover{
   cursor: pointer;
    text-decoration:underline;
}
/* Hero Section */
.hero-section{
    background-image: url("./image\ copy\ 3.png");
    height:350px ;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 30px;
}
.hero-message a{
    color: #007185;
}
/* shop section  */
.box{
    height: 400px;
    border: 2px solid rgb(255, 255, 255);
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;


    
}
.shop-section{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
  background: linear-gradient(to top, white, #101346);

}
.box-img{
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}
.box-content p{
    color: #007185;
}
.see-more{
    text-decoration: none;
}
.see-more:hover{
    cursor: pointer;
    text-decoration:underline;

}

/* foot */
.foot{
    background-color: #232F3E;
    height: 500px;
    width: 100%;
    margin-top: 30px;
}
.foot-panel{
    margin-left: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1rem;
}
.foot-heading{
    background-color: #37475A;
    height: 48px;
     align-items: center;
    justify-content: center;
    display: flex;
}
.foot-heading:hover{
    background-color: #526379ce;
}
.foot-panel2{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 20px;
    color: #dddddd;
}
ul p{
    margin-top: 20px;
    font-size: 22px;
    font-family: Arial;
}
/* foot panel 3 */
.foot-panel3{
    background-color:#151D28;
    color: white;
    margin-top: 10px;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.foot-logo{
    background-image: url("./Zonixa\ logo\ on\ navy\ background.png");
    background-size: cover;
    height: 70px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foot-panel-lan{
 border: 1px solid white;
 height: 40px;
 width: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.foot-panel-lan-2{
     border: 1px solid white;
 height: 40px;
 width: 100px;
 display:flex;
 justify-content: center;
 align-items: center;

}
.foot-panel-lan-3{
       border: 1px solid white;
 height: 40px;
 width: 100px;
 display:flex;
 justify-content: center;
 align-items: center;
}
.foot-panel-lan-3:hover{
    border:none;
}
.foot-panel-lan-2:hover{
    border:none;
}
.foot-panel-lan:hover{
    border:none;
}
.foot-logo:hover{
    border:2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}
.foot-panel4{
    margin-top: 10px;
    background-color:#232e3a ;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#232e3a;
    color: white;
}
